.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 16px;
}

.projectTitle {
  font-weight: bold;
  font-size: 18px;
}

.toolsContainer {
  display: flex;
  gap: 12px;
}

.canvasSizeContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}
